
@font-face {
  font-family: Montserrat; /* Имя шрифта */
  src: url(../fonts/Montserrat-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Montserrat-Semibold; /* Имя шрифта */
  src: url(../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: Montserrat-Bold; /* Имя шрифта */
  src: url(../fonts/Montserrat-Bold.ttf);
}

body {
  background-image: url(../images/background-logo.png);
  background-position: right;
  background-attachment: fixed;
  background-repeat: no-repeat no-repeat;
  /* min-height: 100vh; */
  
  font-family: Montserrat !important; 
}

h1, h2, h3, h4, .region-name {
  font-family: Montserrat-Semibold;
  color: #00549f;
}

.logo .logo-name {
  font-family: Montserrat-Bold;
}

@media screen and (max-width: 1480px) {
  .logo-img {
      max-width: 100%;
      margin-right: 10px;
      max-height: 90px;
  }
}

.logo-img {
    display: block;
    margin-right: 20px;
    max-height: 90px;
    padding-left: 1rem;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  color: #ffffff;
  margin-bottom: 4em;  
  background-image: linear-gradient(90deg, #47AAEE, #004D85);
}

.header-left {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 350px;
  background-color: #fff;
}

.header-center {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
}

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.logo-name {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  color: #0071AC;
  font-size: 27px;
  line-height: 119%;
  opacity: 0.9;
  padding: 10px 0;
}

.logo-tagline {
  display: block;
  text-transform: uppercase;
  color: #727271;
  font-size: 12px;
  line-height: 119%;
  opacity: 0.9;
}

.svg-map-wrapper svg a:hover path, .svg-map-wrapper svg a.svg-map--active path {
  opacity: 1;
}

.page-content {
  margin-top: 9em;
}

.all-region {
  border: solid 1px #00000080;
  border-radius: 5px;
  padding: 1em 4em;
  padding-bottom: 5em;
  margin-top: -0.2em;;
  margin-bottom: 3em;
}

.region {
  border: solid 1px #00000080;
  border-radius: 5px;
  border-top-width: 0;
  padding: 1em 4em;
  margin-top: -0.2em;;
  margin-bottom: 3em;
}

.region-name {
  margin-top: 1em;
  font-size: 2.2em;
  font-weight: bold;
  border-bottom: solid 1px #00000070;

}

.main-menu-item {
  text-decoration: none;
}

a {
  text-decoration: none !important;
}

.media-body {
  color: #000000;
}

img .doc-logo:hover {
  background-color: #f5f5f580;
  cursor: pointer;
}

.doc-logo {
  height: 64px;
}

.doc-name {
  font-weight: 700;
}

h1 {
  color: #254b7c;
}

.page-title {
  margin: 2em 0;
}

.nav-item {
  font-size: 1.5em;
}

.first-level {
  padding-left: 0em;
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 1em;
}

.second-level {
  padding-left: 1em;
  font-weight: 500;
  font-size: 1.4em;
  margin-top: 0.3em;
}

.third-level {
  padding-left: 2em;
  font-size: 1.3em;
  margin-top: 0.1em;
}

#main-control {
  cursor: pointer;
/* 
  margin-top: 1em;
  margin-bottom: 3em; 
*/
}

#main-control:hover {
  opacity: 0.7;
  display: block;
}

.title-icon {
  height: 30px;
}

div.modal-window {
  max-width: 1400px;
  max-height: 800px;
}

#modal-iframe {
  width: 100%;
  height: 800px;
}

.nav-tabs {
  border-bottom: 1px solid #000000;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #000000;
  background-color: rgb(243, 243, 243);
  border-color: #000000 #000000 #fff;
}

.properties .nav-link {
  cursor: pointer;
}

.region-name-block {
  margin: 2em auto;
}

.region-name:hover {
  opacity: 0.7;
  cursor: pointer;
}

.unvisible {
  display: none;
}

.region-description {
  font-size: 1.2em;
  text-align: justify;
  padding-bottom: 3em;
}

.area-characteristics {
  border: 1px solid #000000;
  border-radius: 5px;
  width: 80%;
  background-color: #ffffff7c;
  font-size: 1.3em;
  font-family: 'Montserrat-Semibold';
  padding: 1em;
  margin: 1em auto;
  margin-bottom: 3em;
  color: #06005f;
}

.area-props {
  margin-top: 1em;
  margin-bottom: 1em;;
}

.main-menu-cards {
  margin-top: 3em;
}

.cards-block {
  margin-top: 3em;
}

.card {
  min-height: 254px;
  max-height: 254px;
}

.card-menu-item {
  padding: 3em 0.5em;
  color:  #00549f;
  font-family: Montserrat-Semibold;
  font-size: 2rem;
}

.card-menu-item:hover {
  background-color: #46a9ec;
  color: #fff !important;
}

#politics {
  display: flex;
  justify-content: center;
  margin-bottom: 5em;
}

.text {
  font-size: 1.3em;
  text-align: justify;
  margin: 2em 0;
}

p { 
  text-indent: 2em; 
}

.area-characteristics .title {
  width: 100%;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: solid;
}

@media (min-width: 1250px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 80%;
  }
}

.child-branches {
  margin-bottom: 2em;
}

.branch {
  color: #000000;
  font-size: 1.4em;
}

.branch:hover {
  opacity: 0.7;
  cursor: pointer;
}

#minLink:hover, #gpoLink:hover, #panoramaLink:hover, #mapLink:hover {
  cursor: pointer;
}

.achievement-date {
  font-size: 1.2em;
  font-weight: 600;
}

.modal-header .close {
  font-size: 4rem;
  padding: 0rem 1rem;
}

.gas-counter {
  font-size: 1.7rem;
}