body {
  font-size: 10px;
}

.add-maintenance-report {                           
}

.display-none {
  display: none;
}

.searchBlock {
  background-color: #ffffff;
  padding-top: 15px;
  margin-top: 10px;
}

nav {
  font-size: 1.3em;
}

.header {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #e6edf7
}

.maintenance-report {
  background-color: #f7f7f7;
}

th {
  margin-top: auto;
  margin-bottom: auto;
  min-width: 5em;
}

table {
  overflow-y: hidden
}

.t-names {
  display: flex;
  flex-direction: row;
}

.t-nums {
  display: flex;
  flex-direction: row;
}

.t-date_check_ventilation_ducts {
  min-width: 200px;
}

html, body {
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
  width: 12px;
}
::-webkit-scrollbar:horizontal {
  height: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 10px;
  border: 2px solid #ffffff;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}